{% load static %}
<html>
<head>
<title>ADD diplomas or training</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 </head>
<body>
{% include "navBar1.html" %}
<br>
<h1><center>ADD </center></h1>
<br>
<center>
<form action="add_form_action/" method="post">
{% csrf_token %}
<div class="col-sm-4 col-md-6 col-lg-4" >
<label>name</label>
<input name="speci" class="form-control"></td>
</div>
<div class="col-sm-4 col-md-6 col-lg-4">
<label>place </label>
<input name="lieu" class="form-control">
</div>
<div class="col-sm-4 col-md-6 col-lg-4">
<label>Date </label>
<input  name="date" class="form-control">
</div>

<div class="col-sm-4 col-md-6 col-lg-4">
<label>Type </label>
<select name="type" class="form-control form-control-lg">
{% for t in type %}
<option value="{{ t.id }}">{{t.nomType}}</option>
{% endfor %}
</select> 
</div>
<div class="col-sm-4 col-md-6 col-lg-4">
<br><input type="submit" value="Ajouter" class="btn btn-success">
</div>
</form>
</center>
</body>
</html>